
# AI service
GROQ_API_KEY=api_key_here
ELEVENLABS_API_KEY=api_key_here

# model
EVALUATOR_LLM_MODEL=llama-3.1-8b-instant
EVALUATOR_LLM_TEMPERATURE=0.0
RAGAS_LLM_MODEL=llama-3.3-70b-versatile
RAGAS_LLM_TEMPERATURE=0.0
EVALUATOR_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EVALUATOR_EMBEDDING_DEVICE=cpu
LOG_LEVEL=INFO

# rate limit (throttling)
GROQ_TPM_LIMIT=4500
GROQ_MIN_GAP_SEC=1.2